body, header, article, div, section {
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    /* grid-auto-rows: minmax(100px, auto); */
    grid-auto-rows: repeat(3, 1fr);
}

.nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px; 
    padding: 2px;
}

.column-one {
    grid-column: 2/5;
}

.row-one {
    grid-row: 2/3;
}

.row-two {
    grid-row: 2;
}

.row-three {
    grid-row: 3;
}

.float-button {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.navbar{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
}

.navbar a{
    display: flex;
    justify-content: space-around;
    margin-right: var(--common-padding);
    color: var(--main-text-color);
}

.dog {
    width: 500px;
    height: 500px;
}

html {
    background-color: #FFFDF7;
}